.App {
  display: flex;
  width: inherit;
  height: inherit;
}

#cesiumContainer {
  display: flex;
  flex-grow: 1;
  background-color: red;
  height: 800px;
}

#itemMenu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
